@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;800;900&display=swap');
body {
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
    font-family: 'Recursive', sans-serif;
}

.container {
    z-index: 999;
}

.inner {
    font-size: 30px;
    margin-top: 7%;
    text-align: center;
    color: ivory;
}

h3 {
    color: ivory;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 3%;
    color: #f8045d;
}

.invite {
    color: #f8045d;
    text-decoration: none;
    -webkit-transition: ease-in-out all 0.3s;
    -moz-transition: ease-in-out all 0.3s;
    -o-transition: ease-in-out all 0.3s;
    transition: ease-in-out all 0.3s;
}

.invite:hover {
    font-weight: bolder;
    -webkit-transition: ease-in-out all 0.3s;
    -moz-transition: ease-in-out all 0.3s;
    -o-transition: ease-in-out all 0.3s;
    transition: ease-in-out all 0.3s;
}