.title {
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    text-align: center;
}

.text {
    color: rgb(255, 255, 255);
}

.not-found {
    text-align: center;
}

.not-found a {
    color: #4979ff;
    text-decoration: underline;
}